.main-page-wrapper {
    display: flex;
}

.holdings-portfolio {
    margin-left: 10vw;
    width: 230px;
    border: solid black 1px;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
    margin-top: 25px;
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
}

.holding-portfolio-li-wrapper {
    list-style: none;
}

.holding-portfolio-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.holding-portfolio-li:hover {
    color: #21ce99;
}

.portfolio-ele p {
    margin: 10px;
}

.portfolio-header {
    margin: 10px;
    font-size: 22px;
}

.graph-valuation-wrapper {
    margin-left: 10vw;
}

.main-page-total-assets {
    font-size: 40px;
    margin: 25px;
}

.main-page-buying-power {
    margin-left: 25px;
    margin-bottom: 10px
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;;
}

.nav-left {
    display: flex;
    margin-left: 5vw;
    align-items: center;
}

.nav-right {
    display: flex;
    margin-right: 5vw;
    align-items: center;
    cursor: pointer;
}

.nav-right-ele {
    font-family: sans-serif;
}

.nav-right-ele:hover {
    color: #21ce99;
}


.search-form {
    border: 1px solid lightgray;
    width: 50vw;
}

.search-field {
    font-size: 18px;
    width: 50vw;
    position: relative;
}
.search-field:focus {
    box-shadow: 0 0 4px #21ce99;
    outline: none;
}

.search-field:hover {
    box-shadow: 0 0 4px #21ce99;
    outline: none;
}

.search-form:hover ul{
    display: block;
    background-color: white;
    box-shadow: 0 0 4px #21ce99;
}
.search-field:focus + ul{
    display: block;
    background-color: white;
    box-shadow: 0 0 4px #21ce99;
}

.suggestion-box {
    display: none;
    position: absolute;
    z-index: 1;
    /* width not working */
}

.suggestion-item {
    padding: 10px;
}

.suggestion-item-link {
    text-decoration: none;
    color: black;
}

.suggestion-item-link:hover {
    text-decoration: none;
    color: #21ce99;
}

.cheesy-marquee {
    display: flex;
}

.marquee-item {
    display: flex;
    list-style: none;
    color: white;
    padding-left: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Orbitron', sans-serif;
    animation-iteration-count: infinite;
    animation-duration: 75s;
}

.marquee-item-data {
    margin-left: 10px;
    margin-right: 10px;
}

.marquee-wrapper {
    background-color: black;
    padding-top: 8px;
    padding-bottom: 8px;
}
.signin-form {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    position: relative;
    align-items: left;
    margin-top: 12%;
    margin-left: 3.9%;
    margin-right: 22.3%;
    width: 50%;
}

.image-signin-bg {
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}
.signin-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    flex: 1 1 50%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
}

.signin-box {
    box-sizing: border-box;
    width: 135%;
}

.signin-welcome-header {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.1px;
    color: rgb(23, 23, 24);
    text-decoration: unset;
}

.signin-input-field {
    box-sizing: border-box;
    padding: 15px 20px 15px 20px;
    border: 1px solid #fafafa;
    background-color: #F0F8FF;
    width: 100%;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    font-size: 13px;
    box-shadow: none;
    margin-top: 2%;
    margin-bottom: 2.5%;
    height: 15.5%;
    outline: none
}

.signin-input-field:focus {
    border: 3px solid #21ce99;
    outline: none;
} 

.signin-submit {
    width: 100px;
    box-sizing: content-box;
    background-color: #21ce99;
    border-color: #21ce99;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    align-items: center;
    border: 1px solid transparent;
    height: 48px;
    display: flex;
    justify-content: center;
    min-width: 120px;
    padding: 0 15px;
    margin-top: 50px;
}

.forgot-user-pass {
    text-decoration: none;
    color: #21ce99;
    font-size: 13px;
}
.signup-page-body {
    display: flex;
    height: 100vh;
    justify-content: center;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: .25px;
    box-sizing: content-box;
    font-family: sans-serif;
}

.signup-form {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-basis: 50%;
    white-space: nowrap;
    align-items: center;
    flex-direction: column;
}

.money-move {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    font-weight: 100;
    font-family: sans-serif;
}

.signup-description {
    font-size: 18px;
    font-weight: 100;
    margin: 0;
    margin-bottom: 20px;
}

.signup-input-field {
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    border: solid .5px #cbcbcd;
    padding: 15px 20px 15px 20px;
    outline: none;
}

.signup-input-field:focus {
    border-color: #21ce99;
    outline: none;
}

.signup-submit {
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    background-color: #21ce99;
    border-color: #21ce99;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    font-size: 18px;
}

.already-a-user {
    text-decoration: none;
    color: #21ce99;
    font-size: 13px;
}

.session-errors {
    font-size: 13px;
    color: red;
}
.show-page-body-wrapper {
    margin-left: 5vw;
}

.stock-time-frames {
    display: flex;
    justify-content: space-evenly;
    width: 800px;  
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: lightgray solid 1px;
}

.stock-time-frame {
    cursor: pointer;
}

.stock-time-frame:hover {
    color: #21ce99;
}

.show-company-name {
    font-size: 36px;
    font-weight: 500;
    padding-top: 20px;
    text-decoration: none;
    list-style: none;
}

.show-stock-price {
    font-size: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    list-style: none;
}

.graph-transaction-wrapper {
    display: flex;
}

.show-page-about-header {
    font-size: 25px;
    border-bottom: 1px solid lightgray;
    width: 800px; 
    padding-top: 15px;
    padding-bottom: 15px;
}

.show-page-about-description {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 800px;
}

.show-page-attr-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.show-page-attr-item {
    width: 120px;
    margin: 30px;
    font-size: 14px;
}
.transaction-form-wrapper {
    margin-top: 50px;
    margin-left: 10vw;
    border: solid black 1px;
    height: 400px;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
}

.buy-sell-button-wrapper {
    display: flex;
    justify-content: space-between;
}

.buy-sell-button-wrapper p {
    margin: 10px;
    font-size: 20px;
}

.buy-sell-button-wrapper p:hover {
    color: #21ce99;
    cursor: pointer;
}

.share-quantity-wrapper {
    margin: 10px;
}

.share-quantity-input {
    padding: 10px;
    font-size: 15px;
    width: 100px;
    margin-left: 30px;
}

.share-quantity-input:focus {
    outline: none;
    border: solid 2px #21ce99;
}

.share-quantity-input:hover {
    outline: none;
    border: solid 2px #21ce99;
}

.transaction-price p {
    margin: 10px;
}
.transaction-price {
    margin-bottom: 170px;
}

.transaction-submit-info {
    text-align: center;
}

.transaction-submit-info * {
    margin: 10px;
}

.buy-sell-submit {
    margin-left: 38px;
    width: 100px;
    box-sizing: content-box;
    background-color: #21ce99;
    border-color: #21ce99;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    align-items: center;
    border: 1px solid transparent;
    height: 48px;
    display: flex;
    justify-content: center;
    min-width: 120px;
    padding: 0 15px;
    margin-top: 50px;
}

.buy-sell-submit:focus {
    outline: none;
}
.splash-jumbotron {
    height: 100%;
    width: 100%;
    background-color: #21ce99;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.splash-jumbotron-signup {
    color: white;
    font-family: sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    height: 56px;
    min-width: 162px;
    background-color: rgb(36, 42, 45);
    text-decoration: none;
    overflow: hidden;
    padding: 0px 16px;
    border-radius: 8px;
    border-color: rgb(36, 42, 45);
}

.splash-jumbotron-mission {
    margin-left: 10vw
}

.splash-jumbotron-header {
    font-size: 62px;
    font-weight: 700;
    line-height: 72px;
}

.splash-jumbotron-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    margin: 15px 0px 15px 0px;
}

.gif-holder {
    width: 100%;
    height: 606px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}

.iphone-img-holder {
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.img-iphone {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: contain;
    user-select: none;
}

.video-cont {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    position: absolute;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.gif-iphone {
    pointer-events: none;
}

.splash-content {
    display: block;
    text-align: center;
}

.splash-content-header {
    margin: 80px 0px 30px 0px;
    font-size: 36px;
}

.splash-content-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin: 0px 20vw 80px 20vw;

}

.carousel-wrapper {
    background-color: black;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.carousel-pic {
    height: auto;
    width: auto;
}

.carousel-slide-indicator {
    color: white;
    font-size: 18px;;
    cursor: pointer;
}

.carousel-slide-indicator:hover {
    color: #21ce99;
}

.carousel-nav li {
    padding: 15px;
}

.carousel-slide-description {
    color: white;
    max-width: 40vw;
}

.carousel-slide-description h1 {
    font-size: 50px;
    padding-bottom: 25px;
}

.marquee {
  background-color: white;
  background-image: url(https://cdn.robinhood.com/assets/robinhood/brand_uk_2/ac5925bd9898526358ad0a45791d1de6-3x.png);
  background-size: 1900px;
  width: 100%;
  height: 100px;
  animation: marquee 50s infinite linear;
  margin: auto;
  border-top: white solid 25px;
  border-bottom: white solid 25px;
}

@-webkit-keyframes marquee {
  0% {
    background-position: 1890px;
  }

  100% {
    background-position: 0px;
  }
}
.splash-navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

div > a {
    text-decoration: none;
    padding-left: 40px;
    font-family: "sans-serif";
    color: rgb(4, 13, 20);
}

.splash-navigation-sign-up {
    font-family: sans-serif;
    display: inline-flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    height: 44px;
    min-width: 76px;
    background-color: rgb(33, 206, 153);
    text-decoration: none;
    overflow: hidden;
    padding: 0px 16px;
    border-radius: 8px;
    border-color: rgb(33, 206, 153);
}

.splash-navigation-sign-in {
    font-family: sans-serif;
    display: inline-flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    height: 44px;
    min-width: 76px;
    background-color: white;
    text-decoration: none;
    overflow: hidden;
    padding: 0px 16px;
    border-radius: 8px;
    border-color: rgb(33, 206, 153);
}

.splash-navigation-sign-in:hover {
    color: rgb(33, 206, 153);
}

.splash-navigation-sign-up:hover {
    color: white;
}

img {
    height: 45px;
    width: 55px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
