.carousel-wrapper {
    background-color: black;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-pic {
    height: auto;
    width: auto;
}

.carousel-slide-indicator {
    color: white;
    font-size: 25px;
    cursor: pointer;
    padding: 15px;
}
.carousel-slide {
    margin: 0 25px 0 0;
}

.carousel-track {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2vw 0 0;
}

.carousel-slide-indicator:hover {
    color: #21ce99;
}

.carousel-slide-description {
    color: white;
    max-width: 35vw;
    margin: 0 0 0 2vw;
}

.carousel-slide-description h1 {
    font-size: 50px;
    padding-bottom: 25px;
}

.marquee {
  background-color: white;
  background-image: url(https://cdn.robinhood.com/assets/robinhood/brand_uk_2/ac5925bd9898526358ad0a45791d1de6-3x.png);
  background-size: 1900px;
  width: 100%;
  height: 100px;
  animation: marquee 50s infinite linear;
  margin: auto;
  border-top: white solid 25px;
  border-bottom: white solid 25px;
}

@-webkit-keyframes marquee {
  0% {
    background-position: 1890px;
  }

  100% {
    background-position: 0px;
  }
}

.footer {
    background-color: black;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-icon {
    height: 40px;
    width: 40px;
    margin: 0 10px 0 10px;
}

.contact-info h1 {
    color: white;
    margin: 10px;
}

.contact-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-information p {
    color: white;
    margin: 5px;
}

.feedback-section {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.feedback-section p {
    margin: 10px 0px 10px 0px;
}

.help-section {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-section p {
    margin: 10px 0px 10px 0px;
}