.splash-jumbotron {
    height: 100%;
    width: 100%;
    background-color: #21ce99;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.splash-jumbotron-signup {
    color: white;
    font-family: sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    height: 56px;
    min-width: 162px;
    background-color: rgb(36, 42, 45);
    text-decoration: none;
    overflow: hidden;
    padding: 0px 16px;
    border-radius: 8px;
    border-color: rgb(36, 42, 45);
}

.splash-jumbotron-mission {
    margin-left: 10vw
}

.splash-jumbotron-header {
    font-size: 62px;
    font-weight: 700;
    line-height: 72px;
}

.splash-jumbotron-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    margin: 15px 0px 15px 0px;
}

.gif-holder {
    width: 100%;
    height: 606px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}

.iphone-img-holder {
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.img-iphone {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: contain;
    user-select: none;
}

.video-cont {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    position: absolute;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.gif-iphone {
    pointer-events: none;
}

.splash-content {
    display: block;
    text-align: center;
}

.splash-content-header {
    margin: 80px 0px 30px 0px;
    font-size: 36px;
}

.splash-content-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin: 0px 20vw 80px 20vw;

}

.carousel-wrapper {
    background-color: black;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.carousel-pic {
    height: auto;
    width: auto;
}

.carousel-slide-indicator {
    color: white;
    font-size: 18px;;
    cursor: pointer;
}

.carousel-slide-indicator:hover {
    color: #21ce99;
}

.carousel-nav li {
    padding: 15px;
}

.carousel-slide-description {
    color: white;
    max-width: 40vw;
}

.carousel-slide-description h1 {
    font-size: 50px;
    padding-bottom: 25px;
}

.marquee {
  background-color: white;
  background-image: url(https://cdn.robinhood.com/assets/robinhood/brand_uk_2/ac5925bd9898526358ad0a45791d1de6-3x.png);
  background-size: 1900px;
  width: 100%;
  height: 100px;
  animation: marquee 50s infinite linear;
  margin: auto;
  border-top: white solid 25px;
  border-bottom: white solid 25px;
}

@-webkit-keyframes marquee {
  0% {
    background-position: 1890px;
  }

  100% {
    background-position: 0px;
  }
}