.main-page-wrapper {
    display: flex;
    justify-content: center;
}

.main-percentage-and-difference {
    display: flex;
    margin-bottom: 20px;
}

.main-page-difference {
    margin-right: 10px;
}

.holdings-portfolio {
    width: 300px;
    border: solid black 1px;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
    margin: 0 0 0 55px;
    height: 80vh;
    top: 150px;
    overflow: hidden;
    overflow-y: scroll;
    position: sticky;
}

.portfolio-header {
    margin: 0 0 10px 0;
    padding: 10px;
    font-size: 22px;
    border-bottom: lightgray 1px solid;
}

.holding-portfolio-li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.holding-portfolio-li:hover {
    background-color: #F0F8FF;
}

.portfolio-ele {
    display: flex;
    flex-direction: column;
    width: 75px;
}

.portfolio-ele-small {
    margin-top: 5px;
    font-size: 14px;
}

.portfolio-ele-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.portfolio-ele-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
}

.main-page-total-assets {
    font-size: 40px;
    margin: 10px 0px 10px 0px;
}

.main-page-buying-power {
    margin: 10px 0px 10px 0px;
}

.news-item-wrapper {
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding: 15px;
    border-radius: 10px;
}

.news-item-wrapper:hover {
    background-color: lightgray;
}

.news-item-image {
    height: 150px;
    width: 195px;
    border-radius: 10px;
}

.news-item-title {
    font-weight: bold;
}

.news-item-content li {
    list-style: none;
    margin: 0px 20px 0px 20px;
}

.news-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
}

.news-container {
    width: 800px;
    margin-top: 50px;
}

.news-header {
    padding: 15px;
    font-size: 25px;
    border-bottom: solid 1px lightgray;
}