.main-page-wrapper {
    display: flex;
}

.holdings-portfolio {
    margin-left: 10vw;
    width: 230px;
    border: solid black 1px;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
    margin-top: 25px;
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
}

.holding-portfolio-li-wrapper {
    list-style: none;
}

.holding-portfolio-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.holding-portfolio-li:hover {
    color: #21ce99;
}

.portfolio-ele p {
    margin: 10px;
}

.portfolio-header {
    margin: 10px;
    font-size: 22px;
}

.graph-valuation-wrapper {
    margin-left: 10vw;
}

.main-page-total-assets {
    font-size: 40px;
    margin: 25px;
}

.main-page-buying-power {
    margin-left: 25px;
    margin-bottom: 10px
}