.main-page-wrapper {
    display: flex;
    width: 1200px;
    margin: auto;
}

.holdings-portfolio {
    width: 230px;
    border: solid black 1px;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
    margin: 25px 0px 0px 45px;
    height: 80vh;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
}

.holding-portfolio-li-wrapper {
    list-style: none;
}

.holding-portfolio-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.holding-portfolio-li:hover {
    color: #21ce99;
}

.portfolio-ele p {
    margin: 10px;
}

.portfolio-header {
    margin: 0 0 10px 0;
    padding: 10px;
    font-size: 22px;
    border-bottom: lightgray 1px solid;
}

.ticker-quantity {
    font-size: 14px;
}

.trading-at {
    font-size: 14px;
}

.main-page-total-assets {
    font-size: 40px;
    margin: 10px 0px 10px 0px;
}

.main-page-buying-power {
    margin: 10px 0px 10px 0px;
}

.news-item-wrapper {
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding: 15px;
    border-radius: 10px;
}

.news-item-wrapper:hover {
    background-color: lightgray;
}

.news-item-image {
    height: 150px;
    width: 195px;
    border-radius: 10px;
}

.news-item-title {
    font-weight: bold;
}

.news-item-content li {
    list-style: none;
    margin: 0px 20px 0px 20px;
}

.news-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
}

.news-container {
    width: 800px;
    margin-top: 50px;
}

.news-header {
    padding: 15px;
    font-size: 25px;
    border-bottom: solid 1px lightgray;
}