.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;;
}

.nav-left {
    display: flex;
    margin-left: 5vw;
}

.nav-right {
    display: flex;
    margin-right: 5vw;
    cursor: pointer;
}

.nav-right-ele {
    font-family: sans-serif;
    margin: 0px 20px 0px 20px;
}

.nav-right-ele:hover {
    color: #21ce99;
}

.main-nav-logo {
    height: 55px;
    width: 55px;
}

.search-field {
    position: relative;
    width: 40vw;
    font-size: 18px;
}

.search-field:focus {
    box-shadow: 0 0 4px #21ce99;
    outline: none;
    font-size: 18px;
}

.search-field:hover {
    box-shadow: 0 0 4px #21ce99;
    outline: none;
    font-size: 18px;
}

.search-form:hover ul{
    display: block;
    background-color: white;
    box-shadow: 0 0 4px #21ce99;
    font-size: 18px;
}
.search-field:focus + ul{
    display: block;
    background-color: white;
    box-shadow: 0 0 4px #21ce99;
    font-size: 18px;
}

.suggestion-box {
    display: none;
    position: absolute;
    z-index: 1;
    /* width not working */
}

.suggestion-item {
    padding: 10px;
}

.suggestion-item-link {
    text-decoration: none;
    color: black;
}

.suggestion-item-link:hover {
    text-decoration: none;
    color: #21ce99;
}

.cheesy-marquee {
    display: flex;
}

.green {
    color: #21ce99;
}

.red {
    color: red;
}

.marquee-item {
    display: flex;
    list-style: none;
    color: white;
    /* padding-left: 80px; */
    margin: 0 15vw 0 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Orbitron', sans-serif;
}

.marquee-item-data {
    margin-left: 10px;
    margin-right: 10px;
}

.marquee-wrapper {
    background-color: black;
    padding-top: 8px;
    padding-bottom: 8px;
}