.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;;
}

.nav-right {
    display: flex;
    margin-right: 20px;
    cursor: pointer;
}

.nav-right-ele {
    font-family: sans-serif;
    margin: 0px 20px 0px 20px;
    color: var(--text-color)
}

.nav-right-ele:hover {
    color: #21ce99;
}

.main-nav-logo {
    height: 55px;
    width: 55px;
    margin: 0 0 0 20px;
}

.search-field {
    position: relative;
    box-sizing: border-box;
    padding: 15px 20px 15px 20px;
    color: var(--text-color);
    border: var(--input-border);
    background-color: var(--input-bg);
    width: 25vw;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    font-size: 16px;
    box-shadow: none;
    height: 15.5%;
    outline: none
}

.search-field:focus {
    box-shadow: var(--input-box-shadow);
    outline: none;
    background-color: var(--hover-focus);
}

.search-field:hover {
    box-shadow: var(--input-box-shadow);
    outline: none;
    background-color: var(--hover-focus);
}

.search-form:hover ul{
    display: block;
    color: var(--text-color);
    background-color: var(--hover-focus);
    box-shadow: var(--input-box-shadow);
}
.search-field:focus + ul{
    display: block;
    color: var(--text-color);
    background-color: var(--hover-focus);
    box-shadow: var(--input-box-shadow);
}

.suggestion-box {
    display: none;
    position: absolute;
    z-index: 1;
    width: 25vw;
    border-radius: 4px;
}

.suggestion-item {
    display: flex;
    padding: 15px 20px 15px 20px;
}

.suggestion-ticker {
    width: 65px;
    margin-right: 15px;
}

.suggestion-item-link {
    text-decoration: none;
    color: black;
}

.suggestion-item-link:hover {
    text-decoration: none;
    color: #21ce99;
}

.cheesy-marquee {
    display: flex;
}

.green {
    color: #21ce99;
}

.red {
    color: red;
}

.marquee-item {
    display: flex;
    list-style: none;
    color: white;
    margin: 0 100px 0 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Orbitron', sans-serif;
}

.marquee-item-data {
    margin-left: 10px;
    margin-right: 10px;
}

.marquee-wrapper {
    background-color: black;
    padding-top: 8px;
    padding-bottom: 8px;
}