.show-page-body-wrapper {
    margin-left: 5vw;
}

.stock-time-frames {
    display: flex;
    justify-content: flex-start;
    width: 800px;  
    padding-top: 15px;
    border-bottom: lightgray solid 1px;
}

.underlined {
    border-bottom: solid 2px #21ce99;
}

.stock-time-frame {
    margin: 0 25px 0 0;
    padding-bottom: 15px;
    cursor: pointer;
}

.stock-time-frame:hover {
    color: #21ce99;
}

.show-company-name {
    font-size: 36px;
    font-weight: 500;
    padding-top: 20px;
    text-decoration: none;
    list-style: none;
}

.show-percentage-and-difference {
    display: flex;
    margin-bottom: 25px;
}

.show-percentage-and-difference li {
    list-style: none;
    margin-right: 5px;
    font-size: 16px;
}

.custom-tooltip {
    color: #8a8a8a;
}

.display-none {
    display: none;
}

.show-stock-price {
    font-size: 32px;
    margin: 15px 0 10px 0;
    text-decoration: none;
    list-style: none;
}

.graph-transaction-wrapper {
    display: flex;
    justify-content: center;
}

.graph-and-title-wrapper {
    position: relative;
}

.show-page-about-header {
    font-size: 25px;
    border-bottom: 1px solid lightgray;
    width: 800px; 
    margin: 50px 0 0 0;
    padding-bottom: 15px;
}

.show-page-about-description {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 800px;
}

.show-page-attr-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.show-page-attr-item {
    width: 120px;
    margin: 30px 30px 15px 30px;
    font-size: 14px;
}

.news-show-header {
    font-size: 25px;
    border-bottom: 1px solid lightgray;
    width: 800px; 
    padding-bottom: 15px;
}
