.show-page-body-wrapper {
    margin-left: 5vw;
}

.stock-time-frames {
    display: flex;
    justify-content: flex-start;
    width: 800px;  
    padding-top: 15px;
    border-bottom: solid 1px var(--border-bottoms);
}

.underlined {
    color: var(--trend-color);
    border-bottom: solid 3px var(--trend-color);
}

.stock-time-frame {
    margin: 0 25px 0 0;
    padding-bottom: 15px;
    cursor: pointer;
}

.stock-time-frame:hover {
    color: var(--trend-color);
}

.show-company-name {
    font-size: 36px;
    font-weight: 500;
    padding-top: 20px;
    text-decoration: none;
    list-style: none;
}

.show-percentage-and-difference {
    display: flex;
    margin-bottom: 25px;
}

.show-percentage-and-difference li {
    list-style: none;
    margin-right: 5px;
    font-size: 16px;
}

.custom-tooltip {
    color: #8a8a8a;
}

.show-stock-price {
    font-size: 32px;
    margin: 15px 0 10px 0;
    text-decoration: none;
    list-style: none;
}

.graph-transaction-wrapper {
    display: flex;
    justify-content: center;
}

.graph-and-title-wrapper {
    position: relative;
}

.show-page-about-header {
    font-size: 25px;
}

.about-div-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-bottoms);
    width: 800px; 
    margin: 50px 0 0 0;
    padding-bottom: 15px;
}

.show-page-about-description {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.3;
    width: 800px;
}

.show-more {
    cursor: pointer;
    color: var(--trend-color);
}

.show-page-attr-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.show-page-attr-item {
    width: 120px;
    margin: 15px 30px 15px 30px;
    font-size: 14px;
}

.show-page-attr-item li {
    margin-top: 5px;
}

.show-ceo {
    color: var(--trend-color);
}

.news-show-header {
    font-size: 25px;
    border-bottom: 1px solid var(--border-bottoms);
    width: 800px; 
    padding: 15px 0 15px 0;
}

.news-item-wrapper {
    color: var(--text-color)
}

.hide {
    display: none;
}