.transaction-form-wrapper {
    margin-top: 50px;
    margin-left: 45px;
    border: solid black 1px;
    width: 280px;
    height: 425px;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buy-sell-button-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.buy-sell-button-wrapper p {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
}

.buy-sell-button-wrapper p:hover {
    color: #21ce99;
    cursor: pointer;
}

.selected {
    color: #21ce99;
    border-bottom: solid 2px #21ce99;
}

.share-quantity-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px 20px 20px;
}

.share-quantity-input {
    padding: 10px;
    font-size: 15px;
    width: 100px;
    margin-left: 30px;
}

.share-quantity-input:focus {
    outline: none;
    border: solid 2px #21ce99;
}

.share-quantity-input:hover {
    outline: none;
    border: solid 2px #21ce99;
}

.transaction-price {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.transaction-submit-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transaction-submit-info * {
    margin: 10px;
}

.buy-sell-submit {
    width: 100px;
    box-sizing: content-box;
    background-color: #21ce99;
    border-color: #21ce99;
    color: white;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    align-items: center;
    border: 1px solid transparent;
    height: 48px;
    display: flex;
    justify-content: center;
    min-width: 120px;
    padding: 0 15px;
}

.buy-sell-submit:focus {
    outline: none;
}

.transaction-errors-arr {
    color: red;
    margin: 0;
}