.show-page-body-wrapper {
    margin-left: 5vw;
}

.company-profile {
    display: flex;
    flex-wrap: wrap;
}

.company-attr-item {
    list-style: none;
    border: solid black 1px;
}

.stock-time-frames {
    display: flex;
    justify-content: space-evenly;
    width: 800px;  
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: lightgray solid 1px;
}

.stock-time-frame {
    cursor: pointer;
}

.stock-time-frame:hover {
    color: #21ce99;
}

.show-company-name {
    font-size: 36px;
    font-weight: 500;
    padding-top: 20px;
    text-decoration: none;
    list-style: none;
}

.show-stock-price {
    font-size: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    list-style: none;
}

.graph-transaction-wrapper {
    display: flex;
}

.transaction-form-wrapper {
    margin-top: 50px;
    margin-left: 150px;
    border: solid black 1px;
    height: 400px;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
}


 /* CEO
Employees
Headquarters
Founded
Market Cap
Price-Earnings Ratio
Dividend Yield
Average Volume */

/*
CEO
Industry

*/