.transaction-form-wrapper {
    top: 175px;
    position: sticky;
    margin-left: 45px;
    width: 280px;
    height: 425px;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buy-sell-button-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.transaction-type {
    padding: 10px;
    margin: 5px;
    font-size: 22px;
    cursor: pointer;
}

.transaction-type:hover {
    color: var(--trend-color)
}

.selected {
    color: var(--trend-color);
    border-bottom: solid 2px var(--trend-color);
}

.share-quantity-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px 20px 20px;
}

.share-quantity-input {
    padding: 10px;
    font-size: 15px;
    width: 100px;
    margin-left: 30px;
    background-color: var(--input-bg);
    border: var(--input-border);
    color: var(--text-color);
}

.share-quantity-input:focus {
    outline: none;
    background-color: var(--hover-focus);
    box-shadow: var(--input-box-shadow);
}

.share-quantity-input:hover {
    outline: none;
    background-color: var(--hover-focus);
    box-shadow: var(--input-box-shadow);
}

.transaction-price {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.transaction-submit-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transaction-submit-info * {
    margin: 10px;
}

.buy-sell-submit {
    width: 100px;
    box-sizing: content-box;
    background-color: var(--trend-color);
    border-color: var(--trend-color);
    color: white;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    align-items: center;
    border: 1px solid transparent;
    height: 48px;
    display: flex;
    justify-content: center;
    min-width: 120px;
    padding: 0 15px;
}

.buy-sell-submit:focus {
    outline: none;
}

.buy-sell-submit:hover {
    box-shadow: var(--input-box-shadow);
}

.buying-power-label {
    margin: 10px 0 10px 0;
    padding: 20px 0 10px 0;
    text-align: center;
    width: 100%;
    border-top: 1px solid var(--border-bottoms)
}

.transaction-errors-arr {
    margin: 0;
}