.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    align-items: left;
    width: 50vw;
    min-width: 500px;
    margin-left: 35px;
}

.signin-links-container {
    display: flex;
    justify-content: space-evenly;
}

.image-signin-bg {
    height: 100vh;
    width: 75vw;
}

.signin-container {
    display: flex;
}

.signin-errors-arr {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 25px 0 25px 0;
}

.placeholder-yo {
    color: white;
}

.signin-box {
    box-sizing: border-box;
    width: 470px;
    max-width: 95vw;
    padding: 0 35px 0 35px;
}

.signin-welcome-header {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.1px;
    color: rgb(23, 23, 24);
    text-align: center;
}

.signin-input-field {
    box-sizing: border-box;
    padding: 15px 20px 15px 20px;
    border: 1px solid #fafafa;
    background-color: #F0F8FF;
    width: 100%;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    font-size: 13px;
    box-shadow: none;
    margin-top: 2%;
    margin-bottom: 2.5%;
    height: 15.5%;
    outline: none;
}

.signin-input-field:focus {
    border: 3px solid #21ce99;
    outline: none;
}

.signin-submit-container {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.signin-submit {
    width: 100%;
    box-sizing: content-box;
    background-color: #21ce99;
    border-color: #21ce99;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    align-items: center;
    border: 1px solid transparent;
    height: 48px;
    display: flex;
    justify-content: center;
    min-width: 120px;
    padding: 0 15px;
    margin-bottom: 15px;
}

.oauth-signin-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.oauth-signin {
    width: 49%;
    padding: 15px 20px 15px 20px;
}

.google-signin {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.facebook-signin {
  background-color: #3b5998;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.google-login-button:focus {
    border: none;
}

.signin-alt-links {
    text-decoration: none;
    color: #21ce99;
    font-size: 13px;
    cursor: pointer;
    margin-bottom: 35px;
}

/* iphones */
@media only screen and (device-width : 375px) { 
    .image-signin-bg {
        display: none;
    }      
    .signin-form {
        width: 100vw;
    }  
    .signin-box {
        width: 90vw;
    }
}

@media only screen and (device-width : 414px) { 
    .image-signin-bg {
        display: none;
    }   
    .signin-form {
        width: 100vw;
    }          
    .signin-box {
        width: 90vw;
    }
} 