[data-theme="light"] {
    color: black;
    background-color: white;
  --text-color: black;
  --bg-color: white;
  --marquee-bg: white;
  --input-bg: #F0F8FF;
  --hover: #F0F8FF;
  --hover-focus: white;
  --border-bottoms: lightgray;
  --input-border: 1px solid #fafafa;
  --input-box-shadow: 0 0 4px black;
}

[data-theme="dark"] {
    color: white;
    background-color: #202020;
  --text-color: white;
  --bg-color: #202020;
  --marquee-bg: black;
  --border-color: white;
  --input-bg: #202020;
  --hover: #0e0d0d;
  --hover-focus: #0e0d0d;
  --border-bottoms: black;
  --input-border: 1px solid #0e0d0d;
  --input-box-shadow: 0 0 6px white;
}

[data-trend="down"] {
  --trend-color: #f45531;
}

[data-trend="up"] {
  --trend-color: #21ce99;
}