[data-theme="light"] {
    color: black;
    background-color: white;
  --text-color: black;
  --bg-color: white;
  --input-bg: #F0F8FF;
  --hover: #F0F8FF;
  --hover-focus: white;
  --input-border: 1px solid #fafafa;
  --input-box-shadow: 0 0 4px #21ce99;
}

[data-theme="dark"] {
    color: white;
    background-color: #202020;
  --text-color: white;
  --bg-color: #202020;
  --border-color: white;
  --input-bg: #202020;
  --hover: #0e0d0d;
  --hover-focus: #0e0d0d;
  --input-border: 1px solid #0e0d0d;
  --input-box-shadow: 0 0 6px white;
}